body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.data-table {
  width: 100%;
  border-collapse: collapse; /* Удаляет двойные линии между ячейками */
}

.data-table th, .data-table td {
  border: 1px dashed #ccc; /* Пунктирные границы */
  padding: 8px;
  text-align: left;
}

.data-table thead {
  background-color: #f9f9f9;
}